/*
.box{
    width:300px;
    height:300px;
    margin: 0 auto;
    padding-top: 300px;
}

.box button{
    width:300px;
    height:100px;
    font-size: 32px;
}*/

img{
    width:300px;
    height:300px;
    margin-top: 200px;
    margin-left:400px;
}